div.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}

div.header p {
    font-size: 36pt;
    font-family: cursive;
    color:goldenrod;
}

div.description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding-bottom: 30px;
}

div.projects-items {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

a.projects-item {
    left: auto;
    right: auto;
    position: relative;
}

span.projects-status {
    left: 10px;
    position: absolute;
}

span.projects-funds {
    right: 10px;
    position: absolute;
}

div.projects-container p {
    font-size: 18px;
    border-bottom: 1px solid black;
}
