.navbar {
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color:bisque;
    display: flex;
    justify-content: space-between;
}

.navbar-links {
    width: 100%;
    display: grid;
    grid-template-areas: "home projects";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.nav-links-home {
    grid-area: home;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}

.nav-links-projects {
    grid-area: projects;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}

div.user-links {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}
